<!DOCTYPE html>
<html>
    <head>
        <title>
<% title %>
        </title>
        <link rel="stylesheet" type="text/css" href="\css\layouts.css">
    </head>
    <body>

        <h1>
            Amisha to do / <%= title %>
        </h1>
    </body>
</html>